    
        <div class="text-center">
            <h1 style="color: #00A3AA;font-weight: bold;">Resultat de la recherche</h1>
        </div>
        <div class="text-center">
          <a class="btn btn-app bg-success">
            <span class="badge bg-purple">13</span>
            <i class="fas fa-building"></i> Entreprises trouvées
          </a>
        </div>
    

    <section class="content">
    <!-- Default box -->
    <div class="card card-solid">
      <div class="card-body pb-0" >
        <div class="row" >
          <div class="col col-12 col-sm-6 col-md-4  d-flex align-items-stretch flex-column" *ngFor="let company of companies">
            <div class="card bg-light d-flex flex-fill">
              <div class="card-header text-muted border-bottom-0">
                {{company.industry}}
              </div>
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col-7">
                    <h2 class="lead"><b>{{company.name}}</b></h2>
                    <p class="text-muted text-sm"><b>description</b> {{company.description}} </p>
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                      <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Addresse: {{company.adress}}</li>
                      <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone : {{company.contact}}</li>
                    </ul>
                  </div>
                  <div class="col-5 text-center">
                    <img src={{company.image}} alt="logo" class="img-circle img-fluid">
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="text-right">
                  <a  class="btn btn-sm btn-primary" (click)="goDetailsCompany()">
                    <i class="fas fa-info"></i> Consulter Details
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <nav aria-label="Contacts Page Navigation">
          <ul class="pagination justify-content-center m-0">
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">6</a></li>
            <li class="page-item"><a class="page-link" href="#">7</a></li>
            <li class="page-item"><a class="page-link" href="#">8</a></li>
          </ul>
        </nav>
      </div>
      <!-- /.card-footer -->
    </div>
    <!-- /.card -->
