<section class="content-header">
    <div class="container-fluid">

        <div class="row mb-2">
            <div class="col-sm d-flex align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item active">entreprises / <b>Profils </b></li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
     
    <div class="text-left">
        <button mat-mini-fab color="primary" aria-label="retour" (click)="goBackDetails()">
            <i class="fas fa-arrow-left"></i>
          </button>
    </div>
     <div class="text-center">
            <h1 style="color: #00A3AA;font-weight: bold;" >Profils décideurs au sein de l'entreprise  {{company.name}}</h1>
    </div>
        
      <div class="card-body pb-0" >
        <div class="row" >
          <div class="col col-12 col-sm-6 col-md-4  d-flex align-items-stretch flex-column" *ngFor="let profile of profiles">
            <div class="card bg-light d-flex flex-fill">
              <div class="card-header text-muted border-bottom-0">
                {{profile.post}}
              </div>
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col-7">
                    <h2 class="lead"><b>{{profile.fullname}}</b></h2>
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                      <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> contact: {{profile.email}}</li>
                      <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> adress : {{profile.adress}}</li>
                      <li class="small"><span class="fa-li"><i class="fas fa-lg fa-linkedin-in"></i></span> linkedin : {{profile.linkedin}}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="text-right">
                  <a href="#" class="btn btn-sm btn-primary" (click)="goDetailsProfile()">
                    <i class="fas fa-info"></i> Consulter Details
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <nav aria-label="Contacts Page Navigation">
          <ul class="pagination justify-content-center m-0">
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">6</a></li>
            <li class="page-item"><a class="page-link" href="#">7</a></li>
            <li class="page-item"><a class="page-link" href="#">8</a></li>
          </ul>
        </nav>
      </div>
      <!-- /.card-footer -->
    </div>
    <!-- /.card -->
</section>



