<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a routerLink="/home" class="brand-link">
      <img src="../../../assets/images/logo.png" alt="wevioo logo" class="brand-image img-circle elevation-2" style="opacity: .8">
      <span class="brand-text font-weight-light">Wevioo</span>
    </a>

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a [routerLink]="'dashboard'" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>             
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-building"></i>
            <p>
              Entreprises
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="'entreprises/recherche'" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Recherche</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="'entreprises/recommandation'" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Recommandation</p>
              </a>
            </li>
          </ul>
        </li>
        
        <li class="nav-item">
          <a [routerLink]="'compagnes'" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fas fa-briefcase"></i>
            <p>
              Compagnes
            </p>
          </a>
        </li>
        
      </ul>
    </nav>  
    <!-- /.sidebar -->
  </aside>