<section class="content-header">
    <div class="container-fluid">

        <div class="row mb-2">
            <div class="col-sm d-flex align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item active">entreprises / <b>details </b></li>
                </ol>
            </div>
        </div>

        <!-- <div class="row mb-2">
            <div class="col-sm-auto">
                <h1>Details d'entreprise </h1>
            </div>
        </div> -->

    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
              <div class="invoice p-3 mb-3">
                <div class="row " style="height:100px">
                  <div class="col-12">
                    <p class="float-right"><b>identifiant </b>  {{companyId}}  </p>
                    <h1>
                      <i class="fas fa-globe"></i><b>  {{company.name}}</b> 
                    </h1>
                  </div>
                </div>
               
                <div class="row invoice-info mx-auto">
                  <div class="col-sm-7 invoice-col">
                    <h3><b>Description</b> </h3>
                    
                    <h3>{{company.description}}</h3>
                  </div>
                  <div class="col-sm-5 invoice-col  ">
                    <div class="col col-sm-12 mb-2">
                        <h3> <b>Type d'entreprise </b></h3> {{company.type}} 
                    </div>
                    <div class="col col-sm-12 mb-2">
                      <h3> <b>   Secteur d'activité </b></h3>  {{company.industry}}
                    </div>
                    <div class="col col-sm-12 mb-2">
                      <h3> <b>  Lieu</b> </h3> {{company.location}}
                    </div>
                    <div class="col col-sm-12 mb-2">
                      <h3> <b>Taille de l'entreprise</b> </h3>  {{company.company_size}}
                    </div>
                    <div class="col col-sm-12 ">
                      <h3> <b>Age de l'entreprise</b> </h3> {{company.age}}
                    </div>
                  </div>
                  
                </div>
                
                <br>
                <div class=" row  justify-content-between">
                  <div class="col col-sm-4 align-self-start offset-sm-1">
                    <button  class="btn btn-outline-info btn-block " style="width:340px " (click)="addToTopic()"><i class="fas fa-plus-square "  ></i> Affecter à une campagne commerciale</button>
                  </div>
                  <div class="col col-sm-4 align-self-end">
                    <button  class="btn btn-outline-success btn-block" style="width:340px;" (click)="showTopics(company)"><i class="fas fa-info"   ></i> &nbsp;Lister les campagnes commerciales </button>
                  </div>
              </div>
              </div>
              
              
            </div>
            <div class="col col-sm-4 mb-3 offset-sm-4">
              <button  class="btn btn-outline-info btn-block " style="max-width: fit-content;" (click)="showProfiles()"><i class="fas fa-users" ></i> Trouver les profils decideurs</button>
            </div>
          </div>
    </div>
</section>
